@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: absolute;
}


.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    bottom: 0;
    padding: 10px 0;

}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
    height: 75px;
}

.header>* {
    padding: 20px;
}

.spotify-playlist {
    padding: 16px;
}

.cardcontainer {
    display: flex;
    margin: 30px;
    gap: 10px;
    flex-wrap: wrap;
    overflow: auto; /* Use auto to only show scrollbar when needed */
    max-height: 70vh;
}

.card {
    width: 200px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;

}

.card>* {
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.circular-box {
    width: 50px;
    height: 50px;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: absolute;
    top: 153px;
    right: 8px;
    opacity: 1;
    transition: all 1s ease-out;
}

.circular-box svg {
    fill: black;
}

.buttons >*{
    margin: 0 12px;
}
.signupbtn {
    background-color: rgb(34 34 34);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}
.loginbtn {
    background-color: white;
    border-radius: 35px;
    color: black;
    font-weight: bold ;
    padding: 10px;
    width: 71px;
    cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 25px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    /* width: 90%; */
    padding: 12px;
    width: 70vw;
    height: 60px;
}

.songButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.songlist ul{
    padding: 0 8px;
}

.songlist{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}
.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 34px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 5px;
}

.songlist .info{
    font-size: 13px;
    width: 344px;
}
.playnow{
    display: flex;
    justify-content:center ;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width: 64px;
}

.seekbar{
    height: 2px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 9px;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}