.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}
p-1{
    padding: 10px;
}

.right {
    /* Your existing styles */
    overflow-y: auto; /* Enable vertical scrollbar */
}

.right::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.right::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.right::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.right::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}
